.button {
	font-size: 1.5rem;
	padding: 0.2em 0.6em;
	border-radius: 8px;
	border: none;
	cursor: pointer;

	&:hover {
		background-color: hsl(0deg 0% 100%);
		box-shadow: 0px 0px 2px 1px #000;
	}

	&:active {
		box-shadow: 0 0 3px 1px inset #000;
	}
}
