*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'My Local Font Bold';
  src: url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'My Local Font Regular';
  src: url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf)
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-400 {
  font-family: 'My Local Font Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.font-700 {
  font-family: 'My Local Font Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: hsl(0deg 57% 90%);
  background-color: hsl(0, 5%, 10%);

  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;

  display: flex;
  gap: 0.25em;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.logo-svg {
  width: 1em;
}
